
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-video:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e807'; } /* '' */
.icon-cancel-circled:before { content: '\e808'; } /* '' */
.icon-help-circled:before { content: '\e809'; } /* '' */
.icon-info-circled:before { content: '\e80a'; } /* '' */
.icon-thumbs-up:before { content: '\e80b'; } /* '' */
.icon-thumbs-down:before { content: '\e80c'; } /* '' */
.icon-exclamation:before { content: '\e80d'; } /* '' */
.icon-error-alt:before { content: '\e80e'; } /* '' */
.icon-wrench:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-basket:before { content: '\e811'; } /* '' */
.icon-basket-circled:before { content: '\e812'; } /* '' */
.icon-cw:before { content: '\e813'; } /* '' */
.icon-arrows-cw:before { content: '\e814'; } /* '' */
.icon-globe:before { content: '\e815'; } /* '' */
.icon-at:before { content: '\e816'; } /* '' */
.icon-picture-outline:before { content: '\e817'; } /* '' */
.icon-back:before { content: '\e818'; } /* '' */
.icon-floppy:before { content: '\e819'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */